[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter-book = "*"
jupyterlab = "*"
rpy2 = "*"
numpy = "*"
pandas = "*"
jupyter-datatables = "*"
jupyter-lsp = "*"
itables = "*"

[dev-packages]

[requires]
python_version = "3.9"
